.container {
  margin-top: 50px;
}
.next,
.previous {
  background-color: #105edbd6;
  color: rgb(241, 245, 249);
  width: 70px;
  font-size: bolder;
}

.button {
  display: flex;
  justify-content: center;
}

.generate {
  background-color: #0275d8;
}
